*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.favorites.is-visible {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

.favorites .fav-header {
    display: none;
}

.favorites .fav-header.is-visible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 3rem;
    color: rgba(51, 51, 51, 0.8);
}

.favorites .fav-header.is-visible i { font-size: 1.5rem; }

.favorites .fav-header.is-visible h2:hover,
.favorites .fav-header.is-visible i:hover {
    color: rgb(51, 51, 51);
}

.sort {
    background-color: #ddd;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 100px;
    text-align: center;
    margin: 0.5rem auto;
}

.sort:hover { background-color: #c8c8c8;}

.park.hidden,
.sort.hidden,
.fav-designation.hidden {
    display: none;
}

.favorites .park.is-visible {
    display: block;
    height: fit-content;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.logo {
    max-width: 100px;
    margin-left: 1rem;
}

img {
    width: 100%; 
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding-right: 1rem;
}

.nav-links .nav-link,
.nav-links .nav-link a {
    margin: 0 0.5rem;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
}

.nav-links .nav-link a { text-decoration: none; }

.nav-links .nav-link:hover,
.nav-links .nav-link a:hover { 
    color: rgba(51, 51, 51, 1);
}

header {
    margin-top: 0;
    text-align: center;
}

.search label {
    display: block;
    margin-bottom: 1rem;
}

.search .search-bar {
    width: 20%;
    line-height: 1.5;
    border: transparent;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.search .search-bar:focus {
    outline: #fff;
}

.state-label {
    display: block;
    padding-bottom: 1rem;
}

.filter { text-align: center; }

.state-select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    text-align: center;
}

.state-select:focus {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.designation {
    margin-top: 0.5rem;
}

.counter {
    margin: 1rem;
    background-color: #e2e2e2;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: default;
}

.parks { margin-top: 2rem; }

.park {
    margin: 1rem;
    background-color: #c7c7c7;
    border-radius: 10px;
    text-align: center;
}

.img-wrapper {
    max-width: 300px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.park-name {
    max-width: 20ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    letter-spacing: 0.75px;
}

.card-text {
    padding-bottom: 1rem;
}

.card-popup {
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 20%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.75);
    
}

.card-popup p {
    max-width: 20ch;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    
}

.park:hover .card-popup {
    opacity: 1;
}

.park-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    transition: all 0.35s ease-in;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
}

.modal-dialog {
    max-width: 800px;
    max-height: 80vh;
    background: #eee;
    color: #333;
    padding: 1.5rem;
    border-radius: 10px;
    z-index: 5;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    color: rgba(51, 51, 51, 0.6);
}

.modal-header .fa-times {
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.modal-header .fa-times:hover { color: rgba(51, 51, 51, 1); }

.modal-body {
    display: flex;
    align-items: center;
}

.modal-body .modal-img-wrapper {
    max-width: 400px;
    margin-right: 0.75rem;
}

.modal-body .modal-img-wrapper img { border-radius: 10px; }

.modal-body .text-wrapper {
    line-height: 1.6rem;
    padding: 0 1rem;
    letter-spacing: .25px;
}

.modal-body .text-wrapper .directions {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.modal-dialog .modal-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-heart {
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 0.6);
    transition: 0.2s;
}

.fa-heart, .open-modal { cursor: pointer; }

.fa-solid.fa-heart.favorite  { color: #db506a; }

.fa-heart:hover { color: rgba(51, 51, 51, 1); }