body { 
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.logo {
    max-width: 100px;
    margin-left: 1rem;
}

img,
.logo img {
     width: 100%; 
    }

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding-right: 1rem;
}

.nav-links .nav-link {
    margin: 0 0.5rem;
    color: #666;
}

.nav-links .nav-link a { 
    color: #666;
    text-decoration: none;
 }

header {
    margin-top: 0;
    text-align: center;
}

.search label {
    display: block;
    margin-bottom: 1rem;
}

.search .search-bar {
    width: 20%;
    line-height: 1.5;
    border: transparent;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.search .search-bar:focus {
    outline: #fff;
}

.filter { text-align: center; }

.state-filter {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    text-align: center;
}

.state-filter:focus {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.parks { margin-top: 2rem; }

.park {
    margin: 1rem;
    background-color: #c7c7c7;
    border-radius: 10px;
    text-align: center;
}

.img-wrapper {
    max-width: 250px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.park-name {
    max-width: 20ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    letter-spacing: 0.75px;
}

.card-text {
    padding-bottom: 1rem;
}

/* .card-text a { 
    color: #000;
    text-decoration: none;
 } */


 .park .modal {
     display: none;
 }